* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #daeafa;
    padding: 10px 0px;
}

#searchArea {
    border-radius: 50px;
    border: none;
    height: 40px;
    width: 600px;
    position: relative;
}

#searchArea input {
    width: 100%;
    height: 100%;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    padding: 0px 20px;
    outline: none;
    transition: box-shadow 0.3s ease;
}

#searchArea input:focus-visible {
    outline: none;
    box-shadow: 1px 2px 19px -2px #5b86e5;
}

#searchArea button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 120px;
    border-radius: 50px;
    border: none;
    font-size: 18px;
    background: linear-gradient(135deg, #8ec5fc, #5b86e5);
    cursor: pointer;
    color: white;
}

#addrecipe {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

#bookmark {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}

h4 {
    letter-spacing: 1px;
}

#mainArea {
    display: flex;
    width: 98vw;
    height: 100vh;
}

#foodItemArea {
    width: 40%;
    height: 100%;
    background-color: #f7f9fc;
    display: flex;
    flex-direction: column;
    gap: 60px;
    padding: 20px 10px;
    overflow: scroll;
}

#recipeDetail {
    width: 60%;
    height: 100%;
    background-color: #e6f1fdfa;
}

#titleName {
    position: absolute;
    bottom: 245px;
    padding: 12px 25px;
    background: linear-gradient(135deg, #8ec5fc, #5b86e5);
    color: white;
    transform: rotate(-4deg);
}

#recipeDetail h3 {
    color: #5b86e5;
    margin-top: 50px;
    letter-spacing: 1px;
}

.recipeName {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.recipeName h2 {
    color: #5b86e5;
}

#recipeImage {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    overflow: hidden;
}

#recipeImag img {
    width: 100%;
    height: 100%;
}

.imageDetail {
    height: 300px;
    width: 100%;
    position: relative;
    overflow: hidden;
}

.imageDetail img {
    width: 100%;
    height: 100%;
}

#recipeDetail {
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
    gap: 10px;
}

ul {
    margin-top: 30px;
    cursor: pointer;
}